/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Base */
body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 p {
  margin-top: 0;
}

ul {
  /* убирраем маркеровку */
  list-style: none;

  margin: 0;
  padding: 0;
}

/* скрыть заголовок */
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  padding: 48px 0;
}
/* Button */
.button {
  padding: 16px 32px;
  border-radius: 8px;
  border: 2px solid var(--color-brand-light);
  background: var(--color-brand-light);
  color: var(--color-primary-light);

  font-size: 18px;
  font-weight: 600;
  /* Добавить символ руки кликабельности при наведении на кнопку у ссылко это по дефолту стоит */
  cursor: pointer;

  /* Додавати до кнопки бо вона не наслідує шріфт */
  font-family: inherit;
}

.button:hover {
  /* сделать фон прозрачным */
  background: transparent;
  color: var(--color-brand-dark);
}

/* Link */
.link {
  color: var(--color-primary-light);

  font-weight: 600;
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
}

/* Header section */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-list {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 64px;
}

/* Hero-section */

.hero {
  background-image: url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  /* Дєкоративний ефект */
  background-attachment: fixed;
  padding: 272px 0;
}

.hero-title {
  margin-bottom: 0;
  color: var(--color-primary-light);
  text-align: center;

  font-size: 128px;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* Advantages-section */
.advantages {
  padding: 16px 0;
  background-color: var(--color-brand-light);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  color: var(--color-primary-light);
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  color: var(--color-primary-dark);
  /* width: 710px; */
  font-size: 64px;
  font-weight: 600;
  line-height: 1.3; /* 131.25% */
}

.section-title span {
  color: var(--color-brand-dark);
}

.section-title.centered {
  text-align: center;
}

/* Chefs section */

.chef-list {
display: flex;
gap: 40px 30px;
/* flex-wrap: wrap; */
}

.chefs-title {
  margin: 0 auto 80px;
  width: 520px;
}

.chef-title {
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 600;
}

.chef-text p {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  margin-bottom: 0;
}

.chefs-title::before,
.chefs-title::after {
  display: block;
  width: 352px;
  border: 2px solid #cfcfbc;
  content: '';
}

.chef-list {
  display: flex;
  gap: 30px;
}

.chef-item {
  flex-basis: calc(100% - 30px / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow:
    -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 1px #a18268;
}

/* Traditions section*/
.traditions {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  /* gap: 40px; */
}

.traditions-title {
  margin-bottom: 42px;
}

.tranditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
  /* text-transform: uppercase; */
}

.tranditions-text .uppercase {
  /* color: var(--color-brand-light); */
  text-transform: uppercase;
}

.tranditions-text:nth-child(2) {
  max-width: 640px;
}

.tranditions-text:nth-child(3) {
  max-width: 340px;
}

.traditions-bakerMan {
  border-radius: 400px 400px 0px 0px;
}
/* formats section */

.formats-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  max-width: 301px;
  font-size: 14px;
  font-weight: 300;
}

.formats-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.format-card {
  max-width: 349px;
  height: 444px;
  padding: 220px 24px 24px 24px;
  border-radius: 16px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  border: 1px solid lightgray;
}

.carousel-button {
  border: 0;
  background-color: var(--color-primary-light);
  fill: var(--color-primary-light);
  background-color: transparent;
  border-radius: 50%;
  transform: rotate(180deg);

}

.carousel-button:hover {
  background-color: var(--color-primary-light);
  fill: var(--color-primary-dark);
}

/* Contact section */

.contact-section {
  padding-bottom: 96px;
}

.contact-container {
display: flex;
gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border-radius: 16px;
}

.contact-title {
  margin-bottom: 16px;
}

/* Footer */

.footer {
  padding: 32px 0;
  background-color: var(--color-primary-dark);
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-logo {
  display: flex;
}

/* .footer-menu {
  display: flex;
} */

/* .footer-address {
  display: flex;
  gap: 16px;
} */

.footer-social {
  display: flex;
  gap: 22px;
}

address {
  font-style: normal;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.addres-copyright {
  color: #a18268;
  font-size: 14px;
}

.address-icon {
  /* Це через властивість філ задається колір для іконки а не через властивість колір запамятайте*/
  fill: var(--color-primary-light);

  /* це обводка */
  /* stroke: brown; */
}

.address-icon:hover {
  fill: var(--color-brand-light);
  border-radius: 50%;
  background-color: #faf4ea;
}
