@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/utils';

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;

  @media screen and (min-width: 600px) {
    .container {
      max-width: 480px;
    }
  }

  @media screen and (min-width: 900px) {
    .container {
      max-width: 768px;
    }
  }

  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
}

@import './components/layout/section';
@import './components/buttons';
@import './components/links';
@import './components/layout/header';
@import './components/layout/hero';
@import './components/layout/mobile-menu';
@import './components/layout/advantages';
@import './components/layout/chefs';
@import './components/layout/traditions';
@import './components/layout/formats';
@import './components/carousel';
@import './components/pagination';
@import './components/layout/contacts';
@import './components/layout/footer';
@import './components/layout/modal';
@import './components/layout/form';