.footer {
  position: relative;
  padding: 32px 0;
  background-color: var(--color-primary-dark);
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  @media screen and (min-width: $tablet) {
    text-align: justify;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      // justify-content: space-between;
    }
  }

  &__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

    @media screen and (min-width: $tablet) {
      display: flex;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
  }
  &__social {
    display: flex;
    gap: 22px;
    justify-content: center;

    @media screen and (min-width: $tablet) {
      justify-content: flex-start;
    }
  }
}

.footer::before,
.footer::after {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  content: '';
}

.footer::before {
  width: 92.288px;
  height: 560px;
  left: 0;
  background-image: url(../images/bread3.png);

  @media screen and (min-width: $tablet) {
    width: 180px;
    height: 120px;
    background-image: url(../images/bread1.png);
  }
}

.footer::after {
  width: 104px;
  height: 91px;
  right: 0;
  background-image: url(../images/bread4.png);

  @media screen and (min-width: $tablet) {
    width: 380px;
    height: 187px;
    background-image: url(../images/bread2.png);
  }
}

.address {
  &__link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
  }
  &__icon {
    /* Це через властивість філ задається колір для іконки а не через властивість колір запамятайте*/
    fill: var(--color-primary-light);

    /* це обводка */
    /* stroke: brown; */
  }
}

.address__copyright {
  color: #a18268;
  font-size: 14px;
}

.address__link:hover {
  color: var(--color-brand-light);
}

.address__icon:hover {
  fill: var(--color-brand-light);
  border-radius: 50%;
  background-color: #faf4ea;
}

.footer-menu li:not(:last-child) {
  margin-bottom: 16px;
}

.address li {
  font-style: normal;
  margin-bottom: 16px;
}

.footer__social li {
  margin-bottom: 0;
}
