.form {
  &__field {
    margin-bottom: 16px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 32px;
    }
  }

  &__label {
    display: block;
  }
  &__input {
    padding: 8px 24px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #a18268;
    /* background-color: var(--color-primary-light); */
    background-color: transparent;
    font-size: 16px;
    line-height: 1.17;

    @media screen and (min-width: $desktop) {
      padding: 16px 42px;
    }
  }
  &__button {
    display: block;
    margin: 0 auto;
  }

  &__terms {
    display: none;

    @media screen and (min-width: $tablet) {
      display: block;
      margin: 0 auto;
      width: 210px;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.5;
      text-align: center;
    }
  }

  &__link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
  }
}

.form__input:focus {
  border-color: #819b57;
  outline: none;
}

.form__input::placeholder {
  color: #a18268;
}

/* .form-input:required {
  border-color: red;
} */

/* Сделать неактивным поле ввода */
/* .form-input:disabled:placeholder {
  color: lightgray;
} */

/* button:disabled {
  color: gray;
  background-color: lightgray;
  cursor: not-allowed;
} */
/* .checkbox {
  position: relative;
}

.checkbox-input {
  appearance: none;
}

.checkbox-label {
  padding-left: 24px;
}

.checkbox-label::before {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 4px;
  width: 16px;
  height: 16px;
  content: '';
  border: 1px solid var(--color-primary-dark);
  border-radius: 2px;
} */
