.formats {
  &__slider {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__container {
    overflow: hidden;
  }

   &__list {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  &__list {
    margin-bottom: 32px;
  }

  &__title {
    margin-bottom: 24px;
    font-size: 32px;

     @media screen and (min-width: $tablet) {
      font-size: 64px;
      margin-bottom: 80px;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: $tablet) {
      display: flex;
    }
  }
}

.format-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 349px;
  height: 444px;
  padding: 24px;
  border-radius: 16px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  border: 1px solid lightgray;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary-light);
  }

  &__text {
    max-width: 301px;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-primary-light);
  }
}
