// /* Header section */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;

  @media screen and (min-width: $desktop) {
    padding-top: 32px;
  }

  &__logo {
    margin-bottom: 32px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  &__list {
    display: none;
    @media screen and (min-width: $desktop) {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      gap: 64px;
    }
  }

  &__button {
    @media screen and (max-width: $desktop) {
      display: none;
    }
  }
}

.header__burger {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  fill: var(--color-primary-light);

  @media screen and (min-width: $desktop) {
    display: none;
  }
}
