/* Traditions section*/
.traditions {
  padding-top: 96px;

  &__container {
    display: flex;
    justify-content: space-between;
    /* gap: 40px; */
  }

  &__content {
    max-width: 710px;
  }

  &__title {
    margin-bottom: 42px;
  }

  &__baker {
    border-radius: 400px 400px 0px 0px;
  }
}

.tranditions__text--uppercase {
  text-transform: uppercase;
}

.traditions__text--brand {
  color: var(--color-brand-light);
  font-weight: 600;
  /* text-transform: uppercase; */
}

.tranditions__text:nth-child(2) {
  max-width: 640px;
}

.tranditions__text:nth-child(3) {
  max-width: 340px;
}
