.open {
    display: flex !important;

    //  opacity: 1;
    // visibility: visible;
    // pointer-events: initial;
    // transform: translateX(0);
}

.burger {
  display: flex;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.burger span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: var(--color-primary-light);
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--color-primary-light);
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
}




