.carousel-button {
  border: 0;
  background-color: var(--color-primary-light);
  fill: var(--color-primary-light);
  background-color: transparent;
  border-radius: 50%;

  &:hover {
    background-color: var(--color-primary-light);
    fill: var(--color-primary-dark);
    stroke: var(--color-primary-light);
  }

  &.next {
    transform: rotate(180deg);
  }
}

